{% extends 'base.html' %}

{% block content %}

  <h1 class="is-size-3">Edit Department: {{ department.title }}</h1>

  <form action="{{ url_for('department_update', department_id=department.id) }}" method="POST">
    <div class="field">
      <label class="label" for="title">Title</label>
      <div class="control">
        <input name="title" value="{{ request.form['title'] or department.title }}" class="input"></input>
      </div>
    </div>

    <div class="field">
      <label class="label" for="body">Users</label>
        {% for user in users %}
          {% if user.departments %}
            {% for department in user.departments %}
              {% if department.title in department %}
                <div class="column">{{ user }}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      <div class="control">

      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" value="Update Department" class="button is-primary" />
      </div>
      <div class="control">
        <a href="{{ url_for('departments_dashboard') }}" class="button is-text">Cancel</a>
      </div>
    </div>
  </form>

{% endblock %}
