{% extends "base.html" %}

{% block content %}

<div class="columns is-desktop">
  <div class="column"></div>
  <div class="column is-half-desktop">
    <div class="columns">
      <div class="column is-four-fifth">
        <h2 class="is-size-3">Departments</h2>
      </div>
    </div>
    <div class="columns">
      <div class="column">Department id</div>
      <div class="column">Department name</div>
      {% for role in g.user.roles %}
        {% if 'Admin' in role.name %}
      <div class="column is-1">
        <a class="navbar-item" href="{{ url_for('department_create')}}" aria-label="Add Department">
          <i class="far fa-plus-square" style="color: green"></i>
        </a>
      </div>
        {% endif %}
      {% endfor %}
    </div>
    {% for department in Departments %}
    <div class="columns">
      <div class="column">{{department.id}}</div>
      <div class="column">
        <a class="navbar-item" href="{{ url_for('department_update', department_id=department.id) }}" aria-label="Update Department">
          {{department.title}}
        </a>
      </div>
      {% for role in g.user.roles %}
        {% if 'Admin' in role.name %}
      <div class="column is-1">
        <a class="navbar-item" href="{{ url_for('department_delete', department_id=department.id, from_url='departments_dashboard') }}" aria-label="Remove Department">
          <i class="far fa-minus-square" style="color: red"></i>
        </a>
      </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
    <div class="column is-half"> 
    </div>
    <div class="column">
    </div>
  </div>
  <div class="column"></div>
</div>

{% endblock %}
