{% extends "base.html" %}

{% block content %}

<div class="columns is-desktop">
  <div class="column"></div>
  <div class="column is-half-desktop">
    <div class="columns">
      <div class="column is-four-fifth">
        <h2 class="is-size-3">{{Variables}}</h2>
      </div>
    </div>
    <article class="message">
    <div class="message-header">
      <p><div class="column is-3">{{Variable}} id</div>
      <div class="column">{{Variable}} name</div>
      <div class="column is-2">
        <a style="width:90px;" class="button is-success" href="{{ url_for('department_create') }}" aria-label="Add {{Variable}} ">Add
        </a>
      </div>
    </p></div>
    </article>
    {% for var in variables %}
    <article class="message">
    <div class="message-header>">
    <div class="columns">
      <p><div class="column is-3" align="center">{{var.id}}</div>
      <div class="column is-7">{{ var.title or var.name}}</div>
      <div class="column is-2">
      {% if (var.title or var.name) in variable %}
        <a class="navbar-item" href="{{ url_for('departments_dashboard') }}" aria-label="Edit">
          <i class="fas fa-cog" style="width:60px;"></i>
        </a>
      {% else %}
        <a class="navbar-item" href="{{ url_for('dropdown', variable_id=var.id, (variable=var.title or variable=var.name) }}" aria-label="Edit">
          <i class="fas fa-cog" style="width:60;"></i>
        </a>
      {% endif %}
      </p></div>
    </div>
    </div>
    </article>
    {% if (var.title or var.name) in variable %} 
    <div class="columns">
      <div class="column is-10">
      </div>
      <div class="column is-center" >
        <a style="width:90px;" href="{{ url_for('department_update', department_id=var.id) }}" class="button is-warning is-light">Edit</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="column is-half"> 
    </div>
    <div class="column">
    </div>
  </div>
  <div class="column"></div>
</div>

{% endblock %}
