{% extends "base.html" %}

{% block content %}

<div class="columns is-desktop">
  <div class="column"></div>
  <div class="column is-half-desktop">
    <div class="columns">
      <div class="column is-four-fifth">
        <h2 class="is-size-3">Roles</h2>
      </div>
    </div>
    <article class="message">
    <div class="message-header">
        <p><div class="column is-2" align="center">Role id</div>
        <div class="column is-1"></div>
        <div class="column">Role name</div>
        {% for role in g.user.roles %}
        {% if 'Admin' in role.name %}
          <div class="column is-2">
            <a style="width:90px;" class="button is-2 is-success" href="{{ url_for('role_create')}}" aria-label="Add Department">Add</a>
          </div>
        </p>
        {% endif %}
        {% endfor %}
    </div>
    </article>
    {% for role in Roles %}
    <article class="message">
    <div class="message-body">
    <div class="columns">
      <p><div class="column is-2" align="center">{{role.id}}</div>
      <div class="column is-1"></div>
      <div class="column">{{role.name}}</div>
      {% for user_role in g.user.roles %}
      {% if 'Admin' in user_role.name %}
      <div class="column is-2">
        <a class="navbar-item" href="{{ url_for('role_update', role_id=role.id) }}" aria-label="Edit">
          <i class="fas fa-cog" style="width:60px;"></i>
        </a>
      </div>
      </p>
      {% endif %}
      {% endfor %}
    </div>
    </div>
    </article>
    {% endfor %}
    <div class="column is-half"> 
    </div>
    <div class="column">
    </div>
  </div>
  <div class="column"></div>
</div>

{% endblock %}
