{% extends "base.html" %}

{% block content %}

<div class="columns is-desktop">
  <div class="column"></div>
  <div class="column is-half-desktop">
    <div class="columns">
      <div class="column is-four-fifth">
        <h2 class="is-size-3">Users</h2>
      </div>
    </div>
    <article class="message">
    <div class="message-header">
        <p><div class="column is-2" align="center">User id</div>
        <div class="column">Username</div>
        {% for role in g.user.roles %}
        {% if 'Admin' in role.name %}
          <div class="column">User's roles</div>
          <div class="column">User's departments</div>
          <div class="column is-2">
            <a style="width:90px;" class="button is-2 is-success" href="{{ url_for('user_create')}}" aria-label="Add User">Add</a>
          </div>
        </p>
        {% endif %}
        {% endfor %}
    </div>
    </article>
    {% for user in Users %}
    <article class="message">
    <div class="message-body">
      <div class="columns">
      <p><div class="column is-2" align="center">{{user.id}}</div>
      <div class="column">{{user.username}}</div>
      {% for role in g.user.roles %}
      {% if 'Admin' in role.name %}
        <div class="column">
          {% for user_role in user.roles %}
            {{user_role.name}}
          {% endfor %}
        </div>
      
        <div class="column">
          {% for user_department in user.departments %}
            {{user_department.title}}
          {% endfor %}
        </div>
      <div class="column is-2">
        <a class="navbar-item" href="{{ url_for('user_update', user_id=user.id) }}" aria-label="Edit">
          <i class="fas fa-cog" style="width:60px;"></i>
        </a>
      </div>
      </p>
      {% endif %}
      {% endfor %}
    </div>
    </div>
    </article>
    {% endfor %}
    <div class="column is-half"> 
    </div>
    <div class="column">
    </div>
  </div>
  <div class="column"></div>
</div>

{% endblock %}
