{% extends 'base.html' %}

{% block content %}

  <h1 class="is-size-3">Edit Role: {{ user.name }}</h1>

  <form action="{{ url_for('user_update', user_id=user.id) }}" method="POST">

    <div class="field">

      <label class="label" for="name">Name</label>

        <div class="control">

          {% if "Admin" in user.name %}
            <input type="hidden" name="username" value="{{ request.form['username'] or user.username }}" class="input"></input>
            <input name="username" value="{{ request.form['username'] or user.username }}" class="input" disabled></input>
          {% else %}
            <input name="username" value="{{ request.form['username'] or user.username }}" class="input"></input>
          {% endif %}
       </div> <!-- control -->

    </div> <!-- field -->

      <div class="columns">

        <div class="column">
          <label class="label" for="body">Users</label>
        </div> <!-- column -->

        <div class="column">

          <div class="field is-narrow">

            <div class="control">

              <div class="select is-fullwidth">

                <select>

                  <option name="user_name" value="None">Add Role</option>
                    {% for role in roles %}
                      {% if not user.roles %} <!-- if user doesn't have any role -->
                        <option name="name" value="{{ request.form['name'] or user.username}}" class="input">{{user.username}}</option>
                      {% endif %}

                    {% for user_user in user.users %}
                      {% if not user.username in user_user.username %}
                        <option name="name" value="{{ request.form['name'] or role.name}}" class="input">{{ user.username }}</option>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

               </select>

             </div> <!-- select is fullwidth-->

           </div> <!-- control -->

         </div> <!-- fiels is narrow --> 

        </div> <!-- column --> 

        <div class="column is-one-quarter">

          <input name="name" value="{{request.form['name'] or None}}" class="input"></input>

        </div>

        <div class="column is-half"></div>

      </div> <!-- columns -->

      {% for user in users %}
      {% if user.roles %}
      {% for user_role in user.roles %}
      {% if role.name in user_role.name %}

      <div class="columns"> 
        <div class="column">{{ role.name }}</div>
        <div class="column is-1">
          {% if not user.username in "testuser"%}
            <a class="navbar-item" href="{{ url_for('user_user_delete', user_id=user.id, user_id=user.id) }}" aria-label="Remove Role from user" align="center">
              <i class="far fa-minus-square" style="color: red"></i>
            </a>
          {% endif %}
        </div>
        <div class="column is-three-quarters"></div>
      </div>

      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}

      <div class="field is-grouped">

        <div class="control">
          <input type="submit" value="Update Role" class="button is-primary"></input>
        </div>

        <div class="control">
         {% if not "Admin" in user.roles[0].name %}
          <a href="{{ url_for('confirm_delete', variable_id=user.id, variable=user.name) }}" class="button is-danger">Delete</a>
         {% endif %}
        </div>
        <div class="control">
          <a href="{{ url_for('users_dashboard') }}" class="button">Cancel</a>
        </div>
      </div><!-- field is grouped -->
  </form>

{% endblock %}
